@import "tailwindcss";
@plugin "daisyui";
/* @plugin "tailwind-scrollbar"; */
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

* {
  @apply transition-all duration-300;
}
